
.Top_bar-banner_wrapper {
    height: 70vh;
    background: url("./bannar.jpg") center no-repeat;
    opacity: 0.85;
}
.Top_bar-container-contents-holder {
    margin-top: calc(70vh/2.8);
}

.Top_bar-container-contents-holder h1 {
    font-size: 54px;
}
.Top_bar-container-contents-holder p {
    font-size: 24px;
}
.subscription-button {
    width: 200px;
    background: rgba(63, 54, 54, 0.58);
    color: white;
    border: none;
    padding: 8px 0;
    border-radius: 45px;
    outline: none!important;
}
.subscription-button:hover {
    background: black;
    transition-duration: 0.5s;
}
.subscription-button:focus{
    border: none;
}