
.Top_bar-banner_wrapper {
    height: 70vh;
    background: white;
    font-family: 'Nunito', sans-serif;
}
.hero__title{
    font-size: 36px;
    font-weight: 900;
    margin-top: 18%;
}
.hero__title_inner{
    color: var(--light_green);
}

.hero__description{
    font-size: 18px;
    font-weight: 600;
    color: var(--light_text_color);
}

.hero-button {
    width: 200px;
    margin-top: 54px;
    font-weight: 600;
    background: white;
    color: black;
    border: .5px solid gray;
    padding: 8px 0;
    border-radius: 45px;
    outline: none!important;
}
.hero-button:hover {
    background: black;
    color: var(--light_green);
    transition-duration: 0.5s;
}
.hero-button:focus{
    color: black;
}

.hero_image{
    width: 75%;
    float: right;
}