.border-radius-round {
    border-radius: 50px;
}
.navbar {
    z-index: 999;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.nav-link {
    color: black!important;
}